#test{height: 300px; width: 400px; background-color:red;}
#left{float:left; height: 300px; width: 200px;background-color:blue;}
#right_top{float:right; height: 150px; width: 200px;background-color:green; margin:auto; font-size: 100px;}
#right_bot{float:right; height: 150px; width: 200px; background-color:yellow; margin:auto;font-size: 100px;}