.wt_img {
	max-width: 100%;
}

#wt_exp {
	width: 700px;
	height: 200px;
	padding: 0;
	margin: 0 auto;
	background:rgba(27,142,182,0.3);
}

#weather {
	width: 700px;
	height: 500px;
	padding: 0;
	margin: 0 auto;
	background:rgba(27,142,182,0.3);
	color: white;
}

#scroller {
	width: 700px;
	height: 500px;
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: left;
	background:rgba(27,142,182,0.3);
}

#scroller li {
	padding: 0;
	margin: 0 auto;
	width: 175px;
	height: 200px;
	float: left;
	display: none;
	background:rgba(27,142,182,0.3);
}

#scroller li:first-child {
	font-size: 50px;
	width: 700px;
	height: 350px;
}

#scroller li:first-child>img {
	width: 350px;
	height: 200px;
	float: left;
	margin: 75px 0 0 0;
}

#scroller li:first-child>p {
	padding-top: 100px;
	float: right;
	width: 350px;
	height: 175px;
	margin: auto;
}

#scroller li:nth-child(8n+1) {
	display: block;
}

span[id^=w_con] {
	display: none;
}

p.day {
	text-align: center;
}

p.cond {
	text-align: center;
}

#w_con1 {
	display: inline;
}