html
{
	height: 100%;
	width: 100%;
}

* {
	font-family:RobotoDraft,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
}
body
{
	background: #000009;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
#left, #right
{
	float: left;
	width: 25%;
	height: 100%;
}

#center
{
	float: left;
	text-align: center;
	width: 50%;
	height: 100%;
	margin-top: 5%;
}

.title
{
	position: relative;
	top: -280px;
	font-size: 35px;
	font-weight:400;
	color: white;
	z-index: 2;
	letter-spacing:8px;
}
.box
{
	width: 90%;
	height: 30%;
	margin-top: 17%;
	margin-left: 5%;
	border-style: solid;
	border-style: 1px;
	border-color: #4374D9;
	color: white;
	font-size: 30px;
}

#welcome {
	font-size: 17px;
	border-radius: 20px;
	background-color:transparent;
	color: white;
	resize: none;
}

