.labelfield { /*CSS for label field in general*/
  color: brown;
  font-size: 90%;
}

.datefield { /*CSS for date field in general*/
  color: gray;
  font-size: 90%;
}

#example1 li { /*CSS specific to demo 1*/
  margin-bottom: 4px;
}

#example2 div { /*CSS specific to demo 2*/
  margin-bottom: 5px;
}

#example2 div a { /*CSS specific to demo 2*/
  text-decoration: none;
}

#example3 a { /*CSS specific to demo 3*/
  color: #D80101;
  text-decoration: none;
  font-weight: bold;
}

#example3 p { /*CSS specific to demo 3*/
  margin-bottom: 2px;
}

ul { /*CSS specific to demo 3*/
	list-style-type: none;
}


