@import
	url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
	;

#social {
	margin: 20px 10px;
	text-align: center;
}

.smGlobalBtn { /* global button class */
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 50px;
	height: 50px;
	box-shadow: 0 2px 2px #999;
	padding: 0px;
	margin: 10px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 25px;
	font-weight: normal;
	line-height: 2em;
	border-radius: 25px;
	-moz-border-radius: 25px;
}

/* facebook button class*/
.facebookBtn {
	background: #4060A5;
}

.facebookBtn:before { /* use :before to add the relevant icons */
	font-family: "FontAwesome";
	content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover {
	color: #4060A5;
	background: #fff;
}

/* twitter button class*/
.twitterBtn {
	background: #00ff00;
}

.twitterBtn:before {
	font-family: "FontAwesome";
}

.twitterBtn:hover {
	color: #00ff00;
	background: #fff;
}

/* google plus button class*/
.googleplusBtn {
	background: #e64522;
}

.googleplusBtn:before {
	font-family: "FontAwesome";
	content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover {
	color: #e64522;
	background: #fff;
}